<?xml version="1.0" encoding="GBK"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aries="http://brucexx.iteye.com/schema/tags"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://brucexx.iteye.com/schema/tags  http://brucexx.iteye.com/schema/tags/aries.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"

	default-autowire="byName">


	<aries:service ref="serviceId1"  protocol="ws" interface="haha" />

	<aries:reference id="serviceId1" protocol="ws"  interface="haha" />


	<bean id="test1" class="com.brucexx.Test">
		<property name="name" value="hha" />
	</bean>

</beans>
